.home-sider {
    position: fixed;
    height: $height;

    .menu-log {
        background-color: #fff;
        height: 180px;
        text-align: center;
        padding: 20px 0px;
    }

    .my-menu {
        height: calc(100% - 180px);
        overflow: auto;
        text-align: center;

        .ivu-menu-item-active:not(.ivu-menu-submenu):after {
            width: 10px;
            left: 0;
        }
    }
}

.home-layout {
    padding-left: 20px;
    height: 100%;
    overflow: hidden;

    .home-header {
        background: #fff;
    }

    .home-content {
        margin-top: 20px;
        height: calc(100% - 84px);
        overflow: auto;
        position: relative;
    }
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal {
        top: 0;
    }
}